body{
    
    background: url(https://i.pinimg.com/originals/89/c3/aa/89c3aa3be1a9ceec5f188e51a4893c99.jpg);
    /* background-repeat: no-repeat; */
background-size: cover;
}
h1{
    margin-left: 530px;
    margin-right: 530px;
    color: antiquewhite;]]]
    text-align: center;
    background: rgba(100,100,100,.3);
}